<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Hotel Paraíso</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

<header>
    <h1>Hotel Paraíso</h1>
    <nav>
         <a href="/">Inicio</a>
          <a href="/mision/">Misión</a>
          <a href="/vision/">Visión</a>
          <a href="/catalogo/">Habitaciones</a>
          <a href="/reservacion/">Reservar</a>
          <a href="/contacto/">Contacto</a>
    </nav>
</header>

<div class="container">
    <section class="hero hero-left">
        <h2>Contacto</h2>

        <p>
            <strong>Hotel Quinta Dalam</strong><br>
            Temática: Pueblos Mágicos de Michoacán<br>
            Capacidad: 15 habitaciones
        </p>

        <p>
            Para mayor información y reservaciones, contáctanos a través de nuestras
            redes sociales oficiales:
        </p>

        <ul>
            <li>
                Facebook:
                <a href="https://www.facebook.com/profile.php?id=61584681841684" target="_blank">
                    Hotel Quinta Dalam
                </a>
            </li>
            <li>
                Instagram:
                <a href="https://www.instagram.com/quintadalam" target="_blank">
                    @quintadalam
                </a>
            </li>
            <li>
                TikTok:
                <a href="https://www.tiktok.com/@quintadalam" target="_blank">
                    @quintadalam
                </a>
            </li>
        </ul>

    </section>
</div>

<footer>
    <p>© 2026 Hotel Paraíso</p>
</footer>

</body>
</html>